.button{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 4px 4px var(--light-secondary);
}
.button p{
    margin: 0.5rem 0;
}

.button:hover{
    background-color: #3053ab;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-container .button{
    width: 40%;
}