.drop {
    border-radius: 20px;
    margin-bottom: 1%;
}

.container-countdown .drop {
    box-shadow: 0 0 15px -2px var(--rarity-uncommon);
    transition: transform .5s;
    margin: auto;
}

.drop-header{
    font-size: 25px;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

.container-countdown img.drop:hover {
    transform: scale(1.05);
}

.content{
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
}

.content .right-information{
    width: 40%;
    box-shadow: 5px 7px 10px 3px var(--light-secondary);
    padding: 20px 40px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content .left-information{
    display: flex;
    flex-direction: column;
}

.content .left-information img{
    object-fit: cover;
}

.content .right-information .element-title{
font-size: xx-large;
font-weight: 600;
}

#countdown ul{
display: flex;
flex-direction: row;
justify-content: space-evenly;
list-style-type: none;
}

.left-information img{
height: 340px;
border-radius: 20px;
box-shadow: 3px 3px 10px var(--light-secondary);
}

