.button{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    margin-top: 50px;
    box-shadow: 2px 2px 4px 4px var(--light-secondary);
}

.button:hover{
    background-color: #3053ab;
}