:root {
    --main-color: #223B79;
    --light-secondary: #eeeeee;
    --dark-secondary: #9f9f9f;
    --text: #010101;
    --rarity-common: #0de79a;
    --rarity-uncommon: #10c7f5;
    --rarity-rare: #f38a35;
    --rarity-epic: #8717e7;
    --rarity-legendary: #f3c22c;
}

body {
    font-family: 'Rubik', sans-serif;
}